@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 bg-primary text-white">Welcome to Course Info Web</h1>
    <p>You can get the information about Courses and their categories</p>
    <a class="nav-link text-primary bg-warning" asp-area="" asp-controller="Categories" asp-action="Index">Go To Categories page</a>
    <a class="nav-link text-primary bg-warning" asp-area="" asp-controller="Courses" asp-action="Index">Go To Courses page</a>
</div>
